<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="div">
      <h1 class="h1"><%= title %></div>
    </div>
    <span class="span">span</span>
    <p class="p">Welcome to <%= title %></p>
    <small class="small">this is small text<br>this is small text<br>this is small text<br>this is small text<br>this is small text<br>this is small text</small>
  </body>
</html>